/* Call To Action Button*/
.call-to-action {
	color: #fff;
	font-size: 14px;
	line-height: 21px;
	font-weight: bold;
	/*text-transform: uppercase;*/
	display: inline-block;
	text-align: center;
	padding: 9px 20px 9px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #00b2ad;
	-ms-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.call-to-action:hover {
	background-color: #01c8c1;
}

@media screen and (min-width: 800px){
  .site-branding{max-width: 30%;}
}

.inline-footnote{ /* override the default setting of the inline footnotes plugin. In theory this should work, in practice it doesn't...
  padding: 2px, 2px !important;  */
}

/* Keep the Librem 5 campaign around as a regular shop preorder item */
.campaign-funding-info > ul:nth-child(1) > li:nth-child(3) { display: None; }

/* Front page mobile and small screens tweaking for testimonials  */
.responsive_half{
  width: 45%;
}
@media (max-width: 800px){
	.responsive_half h1{font-size: 24px;}
}
@media (max-width: 500px){
	.responsive_half{ width: 100%;}
}

/* Product pages - related products section moved down */
.single-product div.related.products {
  clear: both;
}

/* Product pages, Shop page - hide Pages, Archives and Categories list of links */
.single-product div.wrapper div#main div.container div#sidebar ul[role=navigation],
.post-type-archive-product div.wrapper div#main div.container div#sidebar ul[role=navigation] {
  display: none;
}

/* Press Room - Make hyperlinks more compact (due to two-columns layout combined with long titles) */
.page-id-761 ul.display-posts-listing {
  font-size: 60%;
}
.page-id-761 ul.display-posts-listing a{
  font-size: 140%; /* compensate for the 60% above */
  font-weight: normal;
}

/* Hacks to make the tiles readable on the news page */
/*.page-id-9306 div.wp-tiles-byline-wrapper h4 {
  font-size: 14px;
}*/

/* Let's make François happy! */
div.code{
  color:white; background-color: #565656;
  padding:10px;
  margin-bottom: 20px;
  border:1px solid black;
  font-weight:bold;
}
div.code span.comment{
  color: #ace79c;
  font-weight: regular;
}

/* Survey stuff */
.torro-element .element-description {
  color: #666;
}
.torro-element legend, .pre-logo-survey label {
  font-size: 18px;
  background-image: url('https://web.archive.org/web/20180407232917im_/https://puri.sm/wp-content/uploads/2015/04/purism-logo-87x56px.png');
  background-size: 36px 23px;
  background-repeat: no-repeat;
  padding-left: 50px;  /* width of the image plus a little extra padding */
  padding-bottom: 15px;
  display: block;
}

/* Global Shipping Status table (table id=25) */
#tablepress-25 {
  width: 70%;
}
#tablepress-25 th,
#tablepress-25 td {
  text-align: center;
}

/* Hide the base price because it gets confusing with hard drive options */
.single-product .woocommerce-Price-amount{
  display: None;
}

/* Forum blockquote */
blockquote p {
	background-color: #eaecee;
  	margin: 15px;
    padding: 7.5px;
    font-style: italic;
    font-size: 14px;
}

.bbp-reply-content ol li, .bbp-reply-content ul li{
  padding-left: 5px;
  /* margin-left: 15px; doesn't work for some reason */
}

/* Fix weird line breaks */
.break, p, ul, ol, dl, blockquote, h1, h2, h3, h4, h5, h6 {
	word-wrap: normal !important;
	word-break: normal !important;
}

/* Remove Y-axis labels on the charts, and rotate X-axis labels, so they are vertical, instead of horizontal */
.uv-div-50544,
.uv-div-50886 {
  width: 45%;
  display: inline-block; /* put charts side by side */
}
.uv-div-50544 .uv-chart-div .uv-ver-axis,
.uv-div-50886 .uv-chart-div .uv-ver-axis {
  display: none;
}
.uv-div-50544 .uv-chart-div .uv-hor-axis g g.tick text,
.uv-div-50886 .uv-chart-div .uv-hor-axis g g.tick text {
  font-weight: normal;
  font-size: 0.5em;
  transform: translate(2em, 3em) rotate(90deg);
}
/* Change fill colors */
.uv-div-50544 .uv-areapath-0,
.uv-div-50886 .uv-areapath-0 {
  opacity: 0.75 !important;
  fill: #729fcf !important;
}
.uv-div-50544 .uv-areapath-1,
.uv-div-50886 .uv-areapath-1 {
  opacity: 0.9 !important;
  fill: #fcaf3e !important;
}
/* Change legend colors */
.uv-div-50544 .cl-sales rect,
.uv-div-50886 .cl-sales rect {
  fill: #729fcf !important;
}
.uv-div-50544 .cl-shipments rect,
.uv-div-50886 .cl-shipments rect {
  fill: #fcaf3e !important;
}
/*
     FILE ARCHIVED ON 23:29:17 Apr 07, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 20:58:26 May 11, 2018.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 230.355 (3)
  esindex: 0.015
  captures_list: 259.232
  CDXLines.iter: 17.252 (3)
  PetaboxLoader3.datanode: 284.256 (4)
  exclusion.robots: 0.616
  exclusion.robots.policy: 0.531
  RedisCDXSource: 2.429
  PetaboxLoader3.resolve: 157.317
  load_resource: 232.598
*/