/*
 * imgAreaSelect animated border style
 */

.imgareaselect-border1 {
	background: url(/web/20180407232915im_/https://puri.sm/wp-includes/js/imgareaselect/border-anim-v.gif) repeat-y left top;
}

.imgareaselect-border2 {
    background: url(/web/20180407232915im_/https://puri.sm/wp-includes/js/imgareaselect/border-anim-h.gif) repeat-x left top;
}

.imgareaselect-border3 {
    background: url(/web/20180407232915im_/https://puri.sm/wp-includes/js/imgareaselect/border-anim-v.gif) repeat-y right top;
}

.imgareaselect-border4 {
    background: url(/web/20180407232915im_/https://puri.sm/wp-includes/js/imgareaselect/border-anim-h.gif) repeat-x left bottom;
}

.imgareaselect-border1, .imgareaselect-border2,
.imgareaselect-border3, .imgareaselect-border4 {
    filter: alpha(opacity=50);
	opacity: 0.5;
}

.imgareaselect-handle {
    background-color: #fff;
	border: solid 1px #000;
    filter: alpha(opacity=50);
	opacity: 0.5;
}

.imgareaselect-outer {
	background-color: #000;
    filter: alpha(opacity=50);
	opacity: 0.5;
}

.imgareaselect-selection {
}

/*
     FILE ARCHIVED ON 23:29:15 Apr 07, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 20:58:25 May 11, 2018.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 60.723 (3)
  esindex: 0.007
  captures_list: 84.036
  CDXLines.iter: 14.948 (3)
  PetaboxLoader3.datanode: 184.398 (5)
  exclusion.robots: 0.224
  exclusion.robots.policy: 0.199
  RedisCDXSource: 0.735
  PetaboxLoader3.resolve: 129.408
  load_resource: 294.77
*/