.inline-footnote,.inline-footnote:hover{text-decoration:none}.inline-footnote{padding:2px 6px;border-radius:3px;line-height:1;vertical-align:text-top;font-size:12px;margin:-5px 0 0;display:inline-block;font-weight:500;border-bottom:0;cursor:pointer}.inline-footnote span.footnoteContent{position:absolute;z-index:10000;padding:15px;background-color:#fff;border:1px solid #6c6e6d;box-shadow:2px 2px 10px 0 rgba(0,0,0,.4);font-weight:500;font-size:13px;line-height:1pc;letter-spacing:.01em;max-width:300px}@media only screen and (min-device-width:0px) and (max-device-width:480px){.inline-footnote span.footnoteContent{position:fixed;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}}
/*
     FILE ARCHIVED ON 23:29:15 Apr 07, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 20:58:27 May 11, 2018.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 312.474 (3)
  esindex: 0.011
  captures_list: 370.53
  CDXLines.iter: 12.764 (3)
  PetaboxLoader3.datanode: 88.938 (5)
  exclusion.robots: 0.305
  exclusion.robots.policy: 0.253
  RedisCDXSource: 39.622
  PetaboxLoader3.resolve: 361.74 (3)
  load_resource: 154.591
*/