/*---------------------------------------------------------
 Print (print-style.css)
-------------------------------------------------------- */
* {
	color: #000000 !important;
	text-shadow: none !important; /*reset*/
	box-shadow: none !important; /*reset*/
	font-family: Georgia, Times, "Times New Roman", serif !important;
	font-size: 12px !important;
	word-spacing: 0 !important; /*reset*/
	border-color: #cccccc !important;
}
*:before {
	content: "" !important; /*reset*/
	padding: 0 !important; /*reset*/
}
*:after {
	content: "" !important; /*reset*/
	padding: 0 !important; /*reset*/
}
button {
	border: 0 !important; /*reset*/
}
a {
	color: blue !important;
	font-weight: normal !important;
	text-decoration: underline !important;
}
.entry-content p a[href]:after,
.entry-content div a[href]:after,
.social-links a[href]:after {
	content: " (" attr(href) ")" !important;
}
img {
	max-width: 100% !important;
}
/*---------------------------------------------------------
 Reset styles (_sidebar.scss)
-------------------------------------------------------- */
blockquote.ttfmake-testimonial:after {
	content: none !important;
}
/*---------------------------------------------------------
 Hide elements (_sidebar.scss)
-------------------------------------------------------- */
#site-navigation,
#respond,
#comments .reply,
#infinite-handle,
.nav-links,
.search-form,
.widget_search,
.cycle-pager,
.cycle-prev,
.cycle-next {
	display: none;
}
/*
     FILE ARCHIVED ON 23:29:18 Apr 07, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 20:58:26 May 11, 2018.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 72.92 (3)
  esindex: 0.008
  captures_list: 114.686
  CDXLines.iter: 14.507 (3)
  PetaboxLoader3.datanode: 156.597 (5)
  exclusion.robots: 0.214
  exclusion.robots.policy: 0.189
  RedisCDXSource: 21.258
  PetaboxLoader3.resolve: 126.469 (2)
  load_resource: 243.704
*/