.qcf-style.announcesubscribe {max-width:100%;overflow:hidden;width:250px;}
.qcf-style.announcesubscribe #rounded {border:1px solid #ddd;}
.qcf-style.announcesubscribe input[type=text], .qcf-style.announcesubscribe textarea, .qcf-style.announcesubscribe select, .qcf-style.announcesubscribe #submit {border-radius:0;}
.qcf-style.announcesubscribe h2 {color: #dddddd;font-size: 1.6em;;height:auto;}.qcf-style.announcesubscribe p, .qcf-style.announcesubscribe select{font-family: arial, sans-serif; font-size: 1em;color: #465069;height:auto;line-height:normal;height:auto;}
.qcf-style.announcesubscribe div.rangeslider, .qcf-style.announcesubscribe div.rangeslider__fill {height: em;background: ;}
.qcf-style.announcesubscribe div.rangeslider__fill {background: ;}
.qcf-style.announcesubscribe div.rangeslider__handle {background: ;border: 1px solid ;width: 1em;height: 1em;position: absolute;top: -0.5em;-webkit-border-radius:#FFF%;-moz-border-radius:%;-ms-border-radius:%;-o-border-radius:%;border-radius:%;}
.qcf-style.announcesubscribe div.qcf-slideroutput{font-size:;color:;}.qcf-style.announcesubscribe input[type=text], .qcf-style.announcesubscribe textarea, .qcf-style.announcesubscribe select {border: 1px solid #333;background:;font-family: arial, sans-serif; font-size: 1em; color: ;;line-height:normal;height:auto; margin: 2px 0 3px 0;padding: 6px;}
.qcf-style.announcesubscribe .qcfcontainer input + label, .qcf-style.announcesubscribe .qcfcontainer textarea + label {font-family: arial, sans-serif; font-size: 1em; color: ;;}
.qcf-style.announcesubscribe input:focus, .qcf-style.announcesubscribe textarea:focus {background:;}
.qcf-style.announcesubscribe input[type=text].required, .qcf-style.announcesubscribe select.required, .qcf-style.announcesubscribe textarea.required {border: 1px solid #333;}
.qcf-style.announcesubscribe p span, .qcf-style.announcesubscribe .error {color:#D31900;clear:both;}

.qcf-style.announcesubscribe input[type=text].error, .qcf-style.announcesubscribe select.error, .qcf-style.announcesubscribe textarea.error {border:1px solid #D31900;}
.qcf-style.announcesubscribe #submit {float:right;width:auto;color:;background:;border:1px solid #333;font-family: arial, sans-serif;font-size: inherit;}
.qcf-style.announcesubscribe #submit:hover{background:;}
.qcf-style.default {max-width:100%;overflow:hidden;width:280px;}
.qcf-style.default #plain {border:1px solid #ddd;}
.qcf-style.default input[type=text], .qcf-style.default textarea, .qcf-style.default select, .qcf-style.default #submit {border-radius:0;}
.qcf-style.default h2 {color: #dddddd;font-size: 1.6em;;height:auto;}.qcf-style.default p, .qcf-style.default select{font-family: arial, sans-serif; font-size: 1em;color: #465069;height:auto;line-height:normal;height:auto;}
.qcf-style.default div.rangeslider, .qcf-style.default div.rangeslider__fill {height: 1em;background: ;}
.qcf-style.default div.rangeslider__fill {background: ;}
.qcf-style.default div.rangeslider__handle {background: ;border: 1px solid ;width: 2em;height: 2em;position: absolute;top: -0.5em;-webkit-border-radius:#FFF%;-moz-border-radius:50%;-ms-border-radius:50%;-o-border-radius:50%;border-radius:50%;}
.qcf-style.default div.qcf-slideroutput{font-size:;color:;}.qcf-style.default input[type=text], .qcf-style.default textarea, .qcf-style.default select {border: 1px solid #333;background:#FFFFFF;font-family: arial, sans-serif; font-size: 1em; color: #000000;;line-height:normal;height:auto; margin: 2px 0 3px 0;padding: 6px;}
.qcf-style.default .qcfcontainer input + label, .qcf-style.default .qcfcontainer textarea + label {font-family: arial, sans-serif; font-size: 1em; color: #000000;;}
.qcf-style.default input:focus, .qcf-style.default textarea:focus {background:#FFFFCC;}
.qcf-style.default input[type=text].required, .qcf-style.default select.required, .qcf-style.default textarea.required {border: 1px solid #333;}
.qcf-style.default p span, .qcf-style.default .error {color:#D31900;clear:both;}

.qcf-style.default input[type=text].error, .qcf-style.default select.error, .qcf-style.default textarea.error {border:1px solid #D31900;}
.qcf-style.default #submit {float:left;width:100%;color:#333333;background:#dddddd;border:1px solid #333;font-family: arial, sans-serif;font-size: inherit;}
.qcf-style.default #submit:hover{background:#888888;}

/*
     FILE ARCHIVED ON 23:29:15 Apr 07, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 20:58:27 May 11, 2018.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 168.629 (3)
  esindex: 0.014
  captures_list: 200.15
  CDXLines.iter: 17.278 (3)
  PetaboxLoader3.datanode: 132.911 (5)
  exclusion.robots: 0.335
  exclusion.robots.policy: 0.28
  RedisCDXSource: 6.821
  PetaboxLoader3.resolve: 103.617
  load_resource: 89.296
*/