/*
 Theme Name:   Make-Purism
 Theme URI:    https://puri.sm
 Description:  Make-Purism theme, based on Make theme
 Author:       Purism
 Author URI:   https://puri.sm
 Template:     make
 Version:      1.0.0
 Tags:         one-column, two-columns, three-columns, four-columns, left-sidebar, right-sidebar, grid-layout, buddypress, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-images, flexible-header, full-width-template, sticky-post, theme-options, threaded-comments, translation-ready, footer-widgets, blog, e-commerce, education, entertainment, food-and-drink, holiday, news, photography, portfolio
 Text Domain:  make
*/

/*
 Customize classes for order statuses that are shown on Orders and Order Details page.
 Different statuses are displayed in different colors and show a different icons.
 Status 'completed' is shown as 'shipped', and 'processing' is shown as 'awaiting shipment',
 which was defined in themefolder/woocommerce/myaccount/view-order.php, and
 themefolder/woocommerce/myaccount/orders.php.
*/
b.pending,
span.pending {
	color: #ffba00;
}

b.pending:before,
span.pending:before {
	content: "\e012";
	font-family: WooCommerce;
	padding-right: .25em;
}

b.processing,
span.processing {
	color: #ff8000;
}

b.processing:before,
span.processing:before {
	content: "\e006";
	font-family: WooCommerce;
	padding-right: .25em;
}

b.on-hold,
span.on-hold {
	color: #999;
}

b.on-hold:before,
span.on-hold:before {
	content: "\e033";
	font-family: WooCommerce;
	padding-right: .25em;
}

b.completed,
span.completed {
	color: #00bf00;
}

b.completed:before,
span.completed:before {
	content: "\e019";
	font-family: WooCommerce;
	padding-right: .25em;
}

b.cancelled,
span.cancelled {
	color: #a00;
}

b.cancelled:before,
span.cancelled:before {
	content: "\e013";
	font-family: WooCommerce;
	padding-right: .25em;
}

b.refunded,
span.refunded {
	color: #999;
}

b.refunded:before,
span.refunded:before {
	content: "\e014";
	font-family: WooCommerce;
	padding-right: .25em;
}

b.failed,
span.failed {
	color: #d0c21f;
}

b.failed:before,
span.failed:before {
	content: "\e016";
	font-family: WooCommerce;
	padding-right: .25em;
}

/* Making sure labels and select boxes are all the same width on product page */
table.variations td.label,
.tm-epo-field-label.tm-left,
.tm-epo-field-label.tm-right {
  width: 33%;
}

table.variations td.value a.reset_variations,
p.price,
div.woocommerce-variation-price {
  display: none !important;
}
/*
     FILE ARCHIVED ON 23:29:16 Apr 07, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 20:58:26 May 11, 2018.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 91.789 (3)
  esindex: 0.006
  captures_list: 110.389
  CDXLines.iter: 12.978 (3)
  PetaboxLoader3.datanode: 108.541 (5)
  exclusion.robots: 0.206
  exclusion.robots.policy: 0.181
  RedisCDXSource: 0.759
  PetaboxLoader3.resolve: 371.99
  load_resource: 407.019
*/