.wc_simple_product_badge {
	position: absolute;
	top: 0;
	width:100%;
    padding: 10px 0;
	font-size: 16px;
	background-color: rgba(255, 0, 0, 0.75);
	color: #ffffff;
	text-align:center;
}

.wc_simple_product_badge.orange {
	background-color: rgba(255, 140, 0, 0.75) !important;
}

.wc_simple_product_badge.yellow {
	background-color: rgba(255, 255, 0, 0.75) !important;
	color: #000;
}

.wc_simple_product_badge.green {
	background-color: rgba(0, 255, 0, 0.75) !important;
}

.wc_simple_product_badge.blue {
	background-color: rgba(0, 0, 255, 0.75) !important;
}

.wc_simple_product_badge.purple {
	background-color: rgba(128, 0, 128, 0.75) !important;
}

.wc_simple_product_badge.black {
	background-color: rgba(0, 0, 0, 0.75) !important;
}


/*
     FILE ARCHIVED ON 23:29:16 Apr 07, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 20:58:27 May 11, 2018.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 112.505 (3)
  esindex: 0.008
  captures_list: 138.555
  CDXLines.iter: 16.213 (3)
  PetaboxLoader3.datanode: 165.645 (5)
  exclusion.robots: 0.254
  exclusion.robots.policy: 0.226
  RedisCDXSource: 5.061
  load_resource: 78.438
*/