.qcf-style {text-align: left;margin: 0 0 10px 0;padding: 0;}
.qcf-style form, .qcf-style p {margin: 0;padding: 0;}
.qcf-style #none {border: 0px solid #FFF;padding: 0;}
.qcf-style #plain {border: 1px solid #415063;padding: 10px;margin: 0;}
.qcf-style #rounded {border: 1px solid #415063;padding: 10px;-moz-border-radius: 10px;-webkit-box-shadow: 10px;border-radius: 10px;}
.qcf-style #shadow {border: 1px solid #415063;padding: 10px;margin: 0 10px 20px 0;-webkit-box-shadow: 5px 5px 5px #415063;-moz-box-shadow: 5px 5px 5px #415063;box-shadow: 5px 5px 5px #415063;}
.qcf-style #roundshadow {border: 1px solid #415063;padding: 10px; margin: 0 10px 20px 0;-webkit-box-shadow: 5px 5px 5px #415063;-moz-box-shadow: 5px 5px 5px #415063;box-shadow: 5px 5px 5px #415063;-moz-border-radius: 10px;-webkit-box-shadow: 10px;border-radius: 10px;}
.qcf-style input[type=text], .qcf-style textarea, .qcf-style select, .qcf-style #submit {margin: 2px 0 3px 0;padding: 6px;height:auto;color: #465069;font-size: 100%;border:1px solid #415063;width: 100%;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
.qcf-style input:focus, .qcf-style textarea:focus {}
.qcf-style p {margin: 4px 0;}
.qcf-style img {width:100%;height:auto;overflow:hidden;}
.qcf-style p span {color: #D31900;clear:both;}
.qcf-style input[type=text].required, .qcf-style textarea.required {border: 1px solid #00C618;}
.qcf-style input[type=text].error, .qcf-style textarea.error {border: 1px solid #D31900;}
.qcf-style #submit, .qcf-style #submit:hover{text-align: center;cursor: pointer;}

#ui-datepicker-div {display:none;}

div.rangeslider, div.rangeslider__fill {
  background: #e6e6e6;
  display: block;
  height: 2em;
  width: 100%;
  -webkit-box-shadow: 0px 2px 2px rgba(255, 255, 255, 0.25), inset 0px 1px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 2px 2px rgba(255, 255, 255, 0.25), inset 0px 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(255, 255, 255, 0.25), inset 0px 1px 3px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  border-radius: 1em;
}

div.rangeslider {
  position: relative;
}

div.rangeslider--disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}

div.rangeslider__fill {
  background: #00ff00;
  position: absolute;
  top: 0;
}

div.rangeslider__handle {
  background: white;
  border: 1px solid #ccc;
  cursor: pointer;
  display: inline-block;
  width: 3em;
  height: 3em;
  position: absolute;
  top: -0.5em;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1));
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1));
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1));
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1));
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

div.rangeslider__handle:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, rgba(0, 0, 0, 0.12)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.12));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.12));
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.12));
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.12));
}

input[type="range"]:focus + .rangeslider .rangeslider__handle {
  -webkit-box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
  -moz-box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
  box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
}
.qcf-slideroutput{
margin-top: 20px;
text-align:center;
}
.qcf-slideroutput .qcf-sliderleft {
    float: left;
    width:33.33333%;
    text-align:left;
}
.qcf-slideroutput .qcf-slidercenter {
    float: left;
    width:33.33333%;
    text-align:center;
}
.qcf-slideroutput .qcf-sliderright {
    float: left;
    width:33.33333%;
    text-align:right;
}
.qcf-slideroutput .qcf-outputcenter {
    text-align:center;
    width:100%;
}

.qcf-ajax-error {
	padding-top: 200px;
	display: none;
	line-height: 30px;
}
.qcf-ajax-loading {
	padding-bottom: 60px;
	display: none;
}
.qcf-ajax-loading div, .qcf-sending div { background-color: rgba(0,0,0,0) !important; }
.qcf-ajax-loading h2, .qcf-sending h2 { background-color: rgb(0,0,0,0) !important; margin: 0 auto; padding: 0; }

.qcf-sending {
	padding-bottom: 60px;
	display: none;
}
/*
     FILE ARCHIVED ON 23:29:19 Apr 07, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 20:58:25 May 11, 2018.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 494.097 (3)
  esindex: 0.008
  captures_list: 519.108
  CDXLines.iter: 17.608 (3)
  PetaboxLoader3.datanode: 512.174 (5)
  exclusion.robots: 0.283
  exclusion.robots.policy: 0.195
  RedisCDXSource: 1.65
  PetaboxLoader3.resolve: 65.428
  load_resource: 163.314
*/