	.wpsm_team_2_member_wrapper .wpsm_team_2_member_wrapper_inner{
		padding: 25px 9px 9px 15px;
		color: #333;
		

	}
	.wpsm_team_2_member_wrapper{
		text-align:center;
		background: #ffffff;
		box-shadow:0 0 8px rgba(0,0,0,.2);
	}
	.wpsm_team_2_b_row{ 
		overflow:hidden;
		display:block;
		width:100%;
		border:0px solid #ddd;
		margin-bottom:30px;
		
	}
	.wpsm-col-div{
		margin-bottom:30px;
		
	}
	.wpsm_team_2_mem_img{
		margin:0px !important;
		width:100%;
	}
	
	
	.wpsm_team_2_member_wrapper_inner h3{
		text-align:center;
		font-size:20px;
		color:#333;
		margin-bottom:5px !important;
		margin-top:0px !important;
		display: block;
		font-weight:600;
	}
	
	.wpsm_team_2_b_desig{
		margin-bottom:10px;
		margin-top:0px;
		color:#444;
		font-size:16px;
		display: block;
		font-weight:500;
	}
	.wpsm_team_2_b_desc{
		margin-top:15px !important;
		margin-bottom:10px !important;
		color:#555 ;
		font-size:14px ;
		display: block !important;
	}
	.wpsm_team_2_social_div{
		display: block !important;
		margin-top:15px !important;
		
	}
	.wpsm_team_2_social_div a{
		text-align:center;
		text-decoration:none !important;
		border:0px !important;
		margin:0px !important;
		box-shadow:none !important;
	}
	.wpsm_team_2_social_div a i{
		font-size: 20px;
		background: transparent !important;
		color: #000;
		width: 36px;
		height: 36px;
		line-height: 36px;
		vertical-align: middle;
		margin-right: 5px;
		margin-bottom: 8px;
		border-radius:50%;
		border: 1px solid #000
	}

/*
     FILE ARCHIVED ON 23:29:15 Apr 07, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 20:58:28 May 11, 2018.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 538.638 (3)
  esindex: 0.015
  captures_list: 569.18
  CDXLines.iter: 16.217 (3)
  PetaboxLoader3.datanode: 621.381 (5)
  exclusion.robots: 0.401
  exclusion.robots.policy: 0.339
  RedisCDXSource: 6.654
  load_resource: 88.422
*/